@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/footer.css");

body {
  margin: 0;
  font-family: Open Sans;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  /* text-align: center; */
}

a {
  text-decoration: none;
}

/* Custom design below! */
.container {
  width: 800px;
  margin: auto;
  /* justify-content: center; */
  /* align-items: center; */
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {

  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.responsive {
  width: 100%;
  height: auto;
}
